:root {
    --black100: #7f8082;
    --black200: #626363;
    --black300: #343434;

    --blue100: #5383E8;
    --blue200: #3b66c3;
    --blue300: #28344E;

    --red100: #E84057;
    --red200: #c23749;
    --red300: #59343B;

    --green100:#50d73b;
    --green200:#37c245;
    --green300:#365934;

    --yellow100: #e8c940;
    --yellow200: #c3aa3b;
    --yellow300: #595234;

    --orange100:#e88c53;
    --orange200:#c3713b;
    --orange300:#4e3928;

    --purple100:#b953e8;
    --purple200:#a13bc3;
    --purple300:#45284e;

    --grey100: #ffffff;
    --grey200: #b8b8cf;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;
    font-family: "Roboto", sans-serif;
}

.partida{
    max-width: 600px; /*MODIFICABLE*/
    height: 110px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display:flex;
    flex-direction:row;
    border-left: 8px solid var(--black100);
}

.partida > .data{
    flex:1;
    display: flex;
    flex-direction: row;
    background-color: var(--black300);
}

.partida > .data > .game_info{
    margin: 5px 20px 5px 5px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly;
}

.partida > .data > .game_info > .type{
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--grey100);
    margin: 3px;
}

.partida > .data > .game_info > .separator{
    width: 100%;
    height: 1px;
    background-color: var(--grey200);
    margin: 3px;
}

.partida > .data > .game_info > .result{
    color: var(--grey200);
    font-size: 0.85rem;
    margin: 3px;
    font-weight: bold;
}

.partida > .data > .game_info > .duration{
    color: var(--grey200);
    font-size: 0.85rem;
    margin: 3px;
}

.partida > .data > .summoner_info{
    margin: 5px auto 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.partida > .data > .summoner_info > .summoner{
    display:flex;
    flex-direction: row;
}

.partida > .data > .summoner_info > .summoner > .icons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.partida > .data > .summoner_info > .summoner > .icons > .champion {
    display: grid;
    justify-items: end;
    align-content: end;
    align-items:end;
}

.partida > .data > .summoner_info > .summoner > .icons > .champion > img{
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    border: 1px solid var(--black200);
}

.partida > .data > .summoner_info > .summoner > .icons > .champion > .lvl{
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 3px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--grey100);
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid var(--grey100);
}

.partida > .data > .summoner_info > .summoner > .icons > .champion > .lvl > p{
    font-size: 0.70rem;
    margin:0;
}

.partida > .data > .summoner_info > .summoner > .icons > .spells{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}

.partida > .data > .summoner_info > .summoner > .icons > .spells > img{
    width: 25px;
    height: 25px;
    margin: 3px;
    background-color: black;
    border: 1px solid var(--black200);
    border-radius: 5px;
}

.partida > .data > .summoner_info > .summoner > .icons > .runes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}

.partida > .data > .summoner_info > .summoner > .icons > .runes > img{
    width: 25px;
    height: 25px;
    margin: 3px;
    background-color: black;
    border: 1px solid var(--black200);
    border-radius: 50%;
}

.partida > .data > .summoner_info > .summoner > .kda{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partida > .data > .summoner_info > .summoner > .kda > .k-d-a{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--grey200);
}

.partida > .data > .summoner_info > .summoner > .kda > .k-d-a > .k{
    margin:5px;
    font-weight: bold;
    color: var(--grey100);
}

.partida > .data > .summoner_info > .summoner > .kda > .k-d-a > .d{
    margin:5px;
    font-weight: bold;
    color: var(--black100);
}

.partida > .data > .summoner_info > .summoner > .kda > .k-d-a > .a{
    margin:5px;
    font-weight: bold;
    color: var(--grey100);
}

.partida > .data > .summoner_info > .summoner > .kda > .ratio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    color: var(--grey200);
}

.partida > .data > .summoner_info > .summoner > .kda > .ratio > span{
    margin-right: 5px;
}

.partida > .data > .summoner_info > .items{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-content: center;
}

.partida > .data > .summoner_info > .items > img{
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: black;
    border: 1px solid var(--black200);
    border-radius: 5px;
}

.partida > .data > .summoner_info > .items > .ward{
    border-radius: 50%;
}

.partida > .data > .players_info{
    border-left: 1px solid var(--black100);
    padding:8px 0px 8px 8px;
    margin:5px 0px 5px 5px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.partida > .data > .players_info > .team{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.partida > .data > .players_info > .team > .player{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px; 
}

.partida > .data > .players_info > .team > .player > img{
    width: 16px;
    height: 16px;
}

.partida > .data > .players_info > .team > .player > p{
    margin: 0px 5px 0px 5px;
    font-size: 0.75rem;
    color: var(--grey200);
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.partida > .action{
    background-color: var(--black100);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 40px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.partida > .action:hover{
    background-color: var(--black200);
}

.partida > .action > svg{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.partida > .action > svg > path{
    fill: var(--black300);
}

/** BLUE */

.blue {
    border-left: 8px solid var(--blue100);
}

.blue > .data{
    background-color: var(--blue300);
}

.blue > .data > .game_info > .type{
    color: var(--blue100);
}

.blue > .data > .game_info > .separator{
    background-color: var(--blue200);
}

.blue > .data > .summoner_info > .summoner > .icons > .champion > img,
.blue > .data > .summoner_info > .summoner > .icons > .champion > .lvl,
.blue > .data > .summoner_info > .summoner > .icons > .spells > img,
.blue > .data > .summoner_info > .summoner > .icons > .runes > img,
.blue > .data > .summoner_info > .items > img{
    border-color: var(--blue200); 
}

.blue > .data > .summoner_info > .summoner > .kda > .k-d-a > .d{
    color: var(--blue100);
}

.blue > .data > .players_info{
    border-left: 1px solid var(--blue200);
}

.blue > .action{
    background-color: var(--blue100);
}

.blue > .action:hover{
    background-color: var(--blue200);
}

.blue > .action > svg > path{
    fill: var(--blue300);
}

/** RED */

.red {
    border-left: 8px solid var(--red100);
}

.red > .data{
    background-color: var(--red300);
}

.red > .data > .game_info > .type{
    color: var(--red100);
}

.red > .data > .game_info > .separator{
    background-color: var(--red200);
}

.red > .data > .summoner_info > .summoner > .icons > .champion > img,
.red > .data > .summoner_info > .summoner > .icons > .champion > .lvl,
.red > .data > .summoner_info > .summoner > .icons > .spells > img,
.red > .data > .summoner_info > .summoner > .icons > .runes > img,
.red > .data > .summoner_info > .items > img{
    border-color: var(--red200); 
}

.red > .data > .summoner_info > .summoner > .kda > .k-d-a > .d{
    color: var(--red100);
}

.red > .data > .players_info{
    border-left: 1px solid var(--red200);
}

.red > .action{
    background-color: var(--red100);
}

.red > .action:hover{
    background-color: var(--red200);
}

.red > .action > svg > path{
    fill: var(--red300);
}

/** GREEN */

.green {
    border-left: 8px solid var(--green100);
}

.green > .data{
    background-color: var(--green300);
}

.green > .data > .game_info > .type{
    color: var(--green100);
}

.green > .data > .game_info > .separator{
    background-color: var(--green200);
}

.green > .data > .summoner_info > .summoner > .icons > .champion > img,
.green > .data > .summoner_info > .summoner > .icons > .champion > .lvl,
.green > .data > .summoner_info > .summoner > .icons > .spells > img,
.green > .data > .summoner_info > .summoner > .icons > .runes > img,
.green > .data > .summoner_info > .items > img{
    border-color: var(--green200); 
}

.green > .data > .summoner_info > .summoner > .kda > .k-d-a > .d{
    color: var(--green100);
}

.green > .data > .players_info{
    border-left: 1px solid var(--green200);
}

.green > .action{
    background-color: var(--green100);
}

.green > .action:hover{
    background-color: var(--green200);
}

.green > .action > svg > path{
    fill: var(--green300);
}

/** YELLOW */

.yellow {
    border-left: 8px solid var(--yellow100);
}

.yellow > .data{
    background-color: var(--yellow300);
}

.yellow > .data > .game_info > .type{
    color: var(--yellow100);
}

.yellow > .data > .game_info > .separator{
    background-color: var(--yellow200);
}

.yellow > .data > .summoner_info > .summoner > .icons > .champion > img,
.yellow > .data > .summoner_info > .summoner > .icons > .champion > .lvl,
.yellow > .data > .summoner_info > .summoner > .icons > .spells > img,
.yellow > .data > .summoner_info > .summoner > .icons > .runes > img,
.yellow > .data > .summoner_info > .items > img{
    border-color: var(--yellow200); 
}

.yellow > .data > .summoner_info > .summoner > .kda > .k-d-a > .d{
    color: var(--yellow100);
}

.yellow > .data > .players_info{
    border-left: 1px solid var(--yellow200);
}

.yellow > .action{
    background-color: var(--yellow100);
}

.yellow > .action:hover{
    background-color: var(--yellow200);
}

.yellow > .action > svg > path{
    fill: var(--yellow300);
}

/** ORANGE */

.orange {
    border-left: 8px solid var(--orange100);
}

.orange > .data{
    background-color: var(--orange300);
}

.orange > .data > .game_info > .type{
    color: var(--orange100);
}

.orange > .data > .game_info > .separator{
    background-color: var(--orange200);
}

.orange > .data > .summoner_info > .summoner > .icons > .champion > img,
.orange > .data > .summoner_info > .summoner > .icons > .champion > .lvl,
.orange > .data > .summoner_info > .summoner > .icons > .spells > img,
.orange > .data > .summoner_info > .summoner > .icons > .runes > img,
.orange > .data > .summoner_info > .items > img{
    border-color: var(--orange200); 
}

.orange > .data > .summoner_info > .summoner > .kda > .k-d-a > .d{
    color: var(--orange100);
}

.orange > .data > .players_info{
    border-left: 1px solid var(--orange200);
}

.orange > .action{
    background-color: var(--orange100);
}

.orange > .action:hover{
    background-color: var(--orange200);
}

.orange > .action > svg > path{
    fill: var(--orange300);
}

/** PURPLE */

.purple {
    border-left: 8px solid var(--purple100);
}

.purple > .data{
    background-color: var(--purple300);
}

.purple > .data > .game_info > .type{
    color: var(--purple100);
}

.purple > .data > .game_info > .separator{
    background-color: var(--purple200);
}

.purple > .data > .summoner_info > .summoner > .icons > .champion > img,
.purple > .data > .summoner_info > .summoner > .icons > .champion > .lvl,
.purple > .data > .summoner_info > .summoner > .icons > .spells > img,
.purple > .data > .summoner_info > .summoner > .icons > .runes > img,
.purple > .data > .summoner_info > .items > img{
    border-color: var(--purple200); 
}

.purple > .data > .summoner_info > .summoner > .kda > .k-d-a > .d{
    color: var(--purple100);
}

.purple > .data > .players_info{
    border-left: 1px solid var(--purple200);
}

.purple > .action{
    background-color: var(--purple100);
}

.purple > .action:hover{
    background-color: var(--purple200);
}

.purple > .action > svg > path{
    fill: var(--purple300);
}